@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

body,
header,
section {
  width: 100vw;
}

body {
  background-color: black;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbit', sans-serif;
  color: #fff;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.cards {
  flex-wrap: wrap;
}

#input-search {
  background: #fff;
  width: 50vw;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  height: 40px;
  font-family: 'Orbit', sans-serif;
}

#cards {
  margin-top: 40px;
  width: 100vw;
  height: 60vh;
}
